*,
body {
    margin: 0;
    padding: 0;
    border-style: none;
    border: 0;
    box-sizing: border-box;
    background: hsl(217, 28%, 15%);
}

*,
input,
button {
    font-family: 'Raleway', sans-serif;
    border-style: none;
    border: 0;
}